  #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.menuItem {
  border: solid rgba(0, 0, 0, 0.045) 3px;
  border-radius: 15px;
  margin: 12px auto;
  max-width: 600px;
  padding-bottom: 12px;
}

.menuItem button {
  border: none;
  padding: 12px;
  border-radius: 8px;
  background-color: rgb(159, 159, 249);
}

.menuItem button:hover {
  background-color: rgb(144, 199, 248);
}

.text {
  background-color: black;
  color: rgb(159, 159, 249);
  padding: 20px;
  border-radius: 12px;
}

.cart button {
  border: none;
  padding: 15px;
  border-radius: 5px;
  background-color: rgb(138, 138, 244);
  margin: 12px;
}

.total {
  background-color: white;
  border-radius: 12px;
  padding: 20px;
}

.cart {
  background-color: black;
  color: rgb(159, 159, 249);
  padding: 20px;
  border-radius: 12px;
}

.cart-item {
  border: solid rgba(0, 0, 0, 0.045) 3px;
  border-radius: 15px;
  margin: 12px auto;
  max-width: 600px;
  padding-bottom: 12px;
  background-color: aliceblue;
}