*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.active{
  background-color: #155dfc;
  color: white;
  border-radius: 5px;
}

.header h1 {
  font-weight: 500;
  font-size: 50px;
  
}

.app {
  background-color: #f5f7fa;
  padding: 5px;
  margin: 30px;
  border-radius: 20px;
}

.add-form {
  background-color: white;
  padding: 40px;
  margin: 30px;
  border-radius: 20px;
  font-size: larger;
}

.add-form input {
  padding: 15px 60px;
  border-radius: 5px;
  border: 2px solid rgb(210, 207, 207);
  text-align: center;
  

}

.add-form button {
  background-color: #155dfc;
  color: white;
  padding: 15px 100px;
  margin: 15px;
  border-radius: 8px;
  border: none;
}

#category {
  padding: 15px 60px;
  border-radius: 5px;
  border: 2px solid rgb(210, 207, 207);
}

.filter-buttons {
  background-color: white;
  background-color: white;
  padding: 40px;
  margin: 25px;
  border-radius: 20px;
  text-align: left;
}

.filter-buttons button {
  margin: 10px;
  border: 2px solid rgb(210, 207, 207);
  padding: 10px 30px;
  border-radius: 5px;
  /* background: none; */
}

.expenses {
  margin: 30px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 10px;

}

.desc {
  display: flex;
  flex-direction: column;
  text-align: left;

}

.desc h3 {
  font-weight: 500;
  font-size: 18px;
}

.desc span {
  font-size: 14px;
  font-weight: 400;
  color: rgb(133, 133, 133);
}

.category {
  margin-left: auto;
  font-weight: 600;
  padding: 4px 8px;
  border-radius: 14px;
}

.buttons {
  display: flex;
  gap: 8px;
}

.buttons  button{
  border: 2px solid rgb(210, 207, 207);
  background: none;
  border-radius: 6px;
  padding: 4px;
}

.buttons .trash {
  color: #e8151f;
}
 .buttons .edit {
  color: #2165fc;
 }

.amount {
  font-weight: 700;
  font-size: 20px;
}

.stats {
  display: flex;
  flex-direction: row;
  /* gap: 10%; */
  padding: 40px;
  justify-content: space-between;
}

.stat-total {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: #eff6ff;
  color: #1447e6;
  padding-right: 100px;
  border-radius: 12px;
}
.stat-length {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: #f0fdf4;
  color: #54ad79;
  padding-right: 100px;
  border-radius: 12px;
}
.stat-highest {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: #fff7ed;
  color: #ca3500;
  padding-right: 100px;
  border-radius: 12px;
}

.stat-number {
  font-weight: 700;
  font-size: 40px;
  
}